In [ ]:
# !conda activate Investor-Sentiment
# !conda install -c conda-forge statsmodels

# 情绪投资策略(2014-2022年全A股市场)

In [4]:
%%time
# from tqdm import tqdm

# from statsmodels.regression.rolling import RollingOLS

CPU times: user 20 µs, sys: 64 µs, total: 84 µs
Wall time: 129 µs

## 1.提取用于计算的面板数据

In [7]:
%%time
import os

if not os.path.exists('../DataSets/TEMP_PANEL_FINAL.parquet'):
    from sqlalchemy import create_engine

    ENGINE = create_engine('mysql+mysqlconnector://root:1111@localhost:3306')
    (pd.read_sql_table('TEMP_PANEL_FINAL', ENGINE,
                       schema='COLIN_PANEL',
                       columns=['ts_code', 'trade_date', 'pct_chg', 'total_mv',
                                'riskfree_return', 'index_return', 'img_neg', 'tex_neg']
                       )
     .astype(dtype={'ts_code': 'category', 'trade_date': 'category'})
     .to_parquet('../DataSets/TEMP_PANEL_FINAL.parquet'))

CPU times: user 165 µs, sys: 708 µs, total: 873 µs
Wall time: 1.62 ms

In [8]:
%%time
import pandas as pd

df_panel = pd.read_parquet('../DataSets/TEMP_PANEL_FINAL.parquet')
df_panel

CPU times: user 339 ms, sys: 520 ms, total: 859 ms
Wall time: 520 ms

,ts_code,trade_date,pct_chg,total_mv,riskfree_return,index_return,img_neg,tex_neg
0,000001.SZ,20140102,-0.1641,10025400.0,5.910,-0.3454,0.000000,0.000000
1,000001.SZ,20140103,-2.4524,9779450.0,6.201,-1.3436,0.000000,0.333333
2,000001.SZ,20140106,-2.1804,9566320.0,6.475,-2.2762,0.285714,0.142857
3,000001.SZ,20140107,-0.3428,9533530.0,5.925,-0.0284,0.000000,0.333333
4,000001.SZ,20140108,1.1192,9640100.0,5.650,0.1747,0.333333,0.000000
...,...,...,...,...,...,...,...,...
7134605,873527.BJ,20221122,-2.0496,54518.8,1.947,0.0118,NaN,NaN
7134606,873527.BJ,20221123,0.1101,54578.8,1.949,0.1049,NaN,NaN
7134607,873527.BJ,20221124,0.0000,54578.8,1.940,-0.4431,NaN,NaN
7134608,873527.BJ,20221125,-0.2200,54458.7,1.924,0.5049,NaN,NaN
7134609,873527.BJ,20221128,0.0000,54458.7,1.913,-1.1265,NaN,NaN

## 2.构造高低组合