In [1]:
# !conda activate Investor-Sentiment
# !conda install -c conda-forge statsmodels

# 情绪投资策略(2014-2022年全A股市场)

In [2]:
%%time
# from tqdm import tqdm
import pandas as pd
import numpy as np
# from statsmodels.regression.rolling import RollingOLS

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 5.01 µs

## 1.提取用于计算的面板数据

In [3]:
%%time
import os

if not os.path.exists('../DataSets/TEMP_PANEL_FINAL.parquet'):
    from sqlalchemy import create_engine

    ENGINE = create_engine('mysql+mysqlconnector://root:1111@localhost:3306')
    (pd.read_sql_table('TEMP_PANEL_FINAL', ENGINE,
                       schema='COLIN_PANEL',
                       columns=['ts_code', 'trade_date', 'pct_chg', 'total_mv',
                                'riskfree_return', 'index_return', 'img_neg', 'tex_neg']
                       )
     .astype(dtype={'ts_code': 'category', 'trade_date': 'category'})
     .to_parquet('../DataSets/TEMP_PANEL_FINAL.parquet'))

CPU times: user 509 µs, sys: 629 µs, total: 1.14 ms
Wall time: 708 µs

In [1]:
%%time
import pandas as pd

df_panel = pd.read_parquet('../DataSets/TEMP_PANEL_FINAL.parquet')
df_panel

CPU times: user 1.77 s, sys: 1.06 s, total: 2.83 s
Wall time: 781 ms

,ts_code,trade_date,pct_chg,total_mv,riskfree_return,index_return,img_neg,tex_neg
0,000001.SZ,20140102,-0.1641,10025400.0,5.910,-0.3454,0.000000,0.000000
1,000001.SZ,20140103,-2.4524,9779450.0,6.201,-1.3436,0.000000,0.333333
2,000001.SZ,20140106,-2.1804,9566320.0,6.475,-2.2762,0.285714,0.142857
3,000001.SZ,20140107,-0.3428,9533530.0,5.925,-0.0284,0.000000,0.333333
4,000001.SZ,20140108,1.1192,9640100.0,5.650,0.1747,0.333333,0.000000
...,...,...,...,...,...,...,...,...
7134605,873527.BJ,20221122,-2.0496,54518.8,1.947,0.0118,NaN,NaN
7134606,873527.BJ,20221123,0.1101,54578.8,1.949,0.1049,NaN,NaN
7134607,873527.BJ,20221124,0.0000,54578.8,1.940,-0.4431,NaN,NaN
7134608,873527.BJ,20221125,-0.2200,54458.7,1.924,0.5049,NaN,NaN
7134609,873527.BJ,20221128,0.0000,54458.7,1.913,-1.1265,NaN,NaN

## 2.构造截面异质波动率与市值高低组合

#### 2.1 计算面板数据的异质波动率IDVOL

In [2]:
%%time
from statsmodels.regression.rolling import RollingOLS
import os
import pandas as pd
import numpy as np


def roll_idvol(df_code: pd.DataFrame, ols_window: int, var_ma: int) -> pd.DataFrame:
    """
    滚动OLS回归求异质波动率
    """
    try:
        # 定义回归变量 CAPM回归: (rm-rf)=a+b*(RM-rf)
        df_ols = pd.DataFrame()
        df_ols['Y'] = df_code['pct_chg'] - df_code['riskfree_return']
        df_ols['const'] = 1  #带截距项回归
        df_ols['X'] = df_code['index_return'] - df_code['riskfree_return']

        # 估计参数
        model = RollingOLS(endog=df_ols['Y'].values, exog=df_ols[['const', 'X']], window=ols_window)
        df_para = model.fit().params

        # 预测残差
        df_para['residual'] = df_para['const'] + df_ols['X']*df_para['X'] - df_ols['Y']

        #计算月波动率
        df_para['idvol'] = df_para['residual'].rolling(var_ma).apply(lambda x: np.var(x, ddof=1))

        return pd.concat([df_code[['ts_code', 'trade_date', 'pct_chg', 'total_mv',
                                   'index_return', 'img_neg', 'tex_neg']], df_para[['idvol']]],
                         axis=1)

    except Exception as e:
        print(e)
        return pd.DataFrame()


if not os.path.exists('../DataSets/TEMP_PANEL_FINAL_IDVOL.parquet'):
    df_panel['riskfree_return'] = df_panel['riskfree_return']/360
    # 多线程分组计算
    from pandarallel import pandarallel

    pandarallel.initialize(progress_bar=True)
    df_out = (df_panel.groupby('ts_code')
              [['ts_code', 'trade_date', 'pct_chg', 'total_mv',
                'riskfree_return', 'index_return', 'img_neg', 'tex_neg']]
              .parallel_apply(lambda x: roll_idvol(x, 5, 30)))

    # 保存异质波动率计算结果
    df_out.to_parquet('../DataSets/TEMP_PANEL_FINAL_IDVOL.parquet')

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=625), Label(value='0 / 625'))), HB…

index 4 is out of bounds for axis 0 with size 2
index 4 is out of bounds for axis 0 with size 1
index 4 is out of bounds for axis 0 with size 2
index 4 is out of bounds for axis 0 with size 3
CPU times: user 15.6 s, sys: 4.24 s, total: 19.8 s
Wall time: 9min 30s

### 2.2 按照异质波动率分组

上面的面板数据计算完成后,从这里开始运行

In [1]:
%%time
import pandas as pd
import numpy as np

QUANTILE = 0.4
df_panel = (
    pd.read_parquet('../DataSets/TEMP_PANEL_FINAL_IDVOL.parquet')
    .drop(columns='ts_code').reset_index().drop(columns='level_1').set_index(['trade_date', 'ts_code']).sort_index()
)

# 分组
df_panel['idvol_top'] = df_panel['idvol'].groupby(level=['trade_date']).transform(
    lambda x: x.quantile(QUANTILE))
df_panel['idvol_group'] = np.where(df_panel['idvol'] >= df_panel['idvol_top'], 'HIGH', "LOW")
df_panel['idvol_group'] = df_panel['idvol_group'].astype('category')
df_panel = df_panel.reset_index().set_index(['trade_date', 'idvol_group', 'ts_code']).sort_index()

# 求组中市值加权系数,并求回报
df_panel['mv_ratio'] = (df_panel['total_mv']/
                        df_panel.groupby(level=['trade_date', 'idvol_group'])['total_mv']
                        .transform(lambda x: sum(x)))
# 求组中回报
df_panel['idvol_vw_ratio'] = df_panel['mv_ratio']*df_panel['pct_chg']
df_panel['idvol_group_return'] = (df_panel.groupby(level=['trade_date', 'idvol_group'])['idvol_vw_ratio']
                                  .transform(lambda x: sum(x)))
df_panel

CPU times: user 7.38 s, sys: 2.94 s, total: 10.3 s
Wall time: 9.81 s

                                  pct_chg    total_mv  index_return  img_neg  \
trade_date idvol_group ts_code
20140102   LOW         000001.SZ  -0.1641  10025400.0       -0.3454      0.0
                       000002.SZ  -0.4972   8799970.0       -0.3454      0.0
                       000004.SZ   1.3734     99176.5       -0.3454      0.0
                       000006.SZ  -1.2164    657448.0       -0.3454      0.0
                       000007.SZ   1.1535    324275.0       -0.3454      0.0
...                                   ...         ...           ...      ...
20221128   LOW         872925.BJ  -0.3987     73863.2       -1.1265      NaN
                       873169.BJ  -1.5198     54432.7       -1.1265      NaN
                       873223.BJ  -0.2660     58981.9       -1.1265      NaN
                       873339.BJ  -0.5093    129039.0       -1.1265      NaN
                       873527.BJ   0.0000     54458.7       -1.1265      NaN

                                  tex_neg     idvol  idvol_top  mv_ratio  \
trade_date idvol_group ts_code
20140102   LOW         000001.SZ      0.0       NaN        NaN  0.003834
                       000002.SZ      0.0       NaN        NaN  0.003366
                       000004.SZ      0.0       NaN        NaN  0.000038
                       000006.SZ      0.0       NaN        NaN  0.000251
                       000007.SZ      0.0       NaN        NaN  0.000124
...                                   ...       ...        ...       ...
20221128   LOW         872925.BJ      NaN  1.366923   2.272054  0.000016
                       873169.BJ      NaN  1.319954   2.272054  0.000012
                       873223.BJ      NaN  0.730782   2.272054  0.000013
                       873339.BJ      NaN       NaN   2.272054  0.000028
                       873527.BJ      NaN       NaN   2.272054  0.000012

                                  idvol_vw_ratio  idvol_group_return
trade_date idvol_group ts_code
20140102   LOW         000001.SZ       -0.000629            0.104050
                       000002.SZ       -0.001673            0.104050
                       000004.SZ        0.000052            0.104050
                       000006.SZ       -0.000306            0.104050
                       000007.SZ        0.000143            0.104050
...                                          ...                 ...
20221128   LOW         872925.BJ       -0.000006           -0.856112
                       873169.BJ       -0.000018           -0.856112
                       873223.BJ       -0.000003           -0.856112
                       873339.BJ       -0.000014           -0.856112
                       873527.BJ        0.000000           -0.856112

[7134602 rows x 10 columns]

In [2]:
# 提取分组数据
df_panel = df_panel[['idvol_group_return', 'img_neg', 'tex_neg']].reset_index().set_index(['trade_date', 'idvol_group'])
df_panel = df_panel[~df_panel.index.duplicated(keep='last')].reset_index()
df_panel

     trade_date idvol_group    ts_code  idvol_group_return   img_neg   tex_neg
0      20140102         LOW  603993.SH            0.104050  0.000000  0.000000
1      20140103         LOW  603993.SH           -0.901757  0.000000  0.333333
2      20140106         LOW  603993.SH           -1.873821  0.285714  0.142857
3      20140107         LOW  603993.SH            0.194634  0.000000  0.333333
4      20140108         LOW  603993.SH            0.194392  0.333333  0.000000
...         ...         ...        ...                 ...       ...       ...
4298   20221124         LOW  873527.BJ           -0.355732       NaN       NaN
4299   20221125        HIGH  873122.BJ           -0.870901       NaN       NaN
4300   20221125         LOW  873527.BJ            1.054950       NaN       NaN
4301   20221128        HIGH  873122.BJ           -0.386043       NaN       NaN
4302   20221128         LOW  873527.BJ           -0.856112       NaN       NaN

[4303 rows x 6 columns]

In [3]:
# 转为时间序列数据
df_series = (df_panel
             .pivot(index='trade_date', columns='idvol_group', values='idvol_group_return')
             .reset_index().astype(dtype={'trade_date': 'str'}).set_index('trade_date'))
df_series

idvol_group      HIGH       LOW
trade_date
20140102          NaN  0.104050
20140103          NaN -0.901757
20140106          NaN -1.873821
20140107          NaN  0.194634
20140108          NaN  0.194392
...               ...       ...
20221122    -1.284786  0.771796
20221123    -0.234572  0.316850
20221124     0.236250 -0.355732
20221125    -0.870901  1.054950
20221128    -0.386043 -0.856112

[2168 rows x 2 columns]

In [5]:
# 连接其他数据
from sqlalchemy import create_engine

ENGINE = create_engine('mysql+mysqlconnector://root:1111@localhost:3306')
df_index = (pd.read_sql_table('TEMP_MERGE_INDEX', ENGINE, schema='FIN_DAILY_INDEX')
            .set_index('trade_date').sort_index())
df_new = df_series.join(df_index).dropna(axis=0)
df_new

,HIGH,LOW,index_return,img_neg,tex_neg,riskfree_return
trade_date,,,,,,
20140225,-3.945142,-1.683283,-2.5559,0.000000,0.000000,4.5190
20140226,0.899800,0.172044,0.2547,0.666667,0.000000,4.4435
20140227,-0.833445,0.136871,-0.4297,0.000000,0.000000,4.3680
20140228,1.201117,0.510854,1.1542,0.333333,0.666667,4.3160
20140303,1.999303,0.599859,0.5231,0.333333,0.333333,4.2620
...,...,...,...,...,...,...
20220621,-0.681358,0.222060,-0.1124,0.238095,0.285714,1.8910
20220622,-0.948997,-1.322035,-1.2702,0.227273,0.227273,1.8920
20220623,2.428606,1.430691,1.7153,0.363636,0.363636,1.8930
20220624,1.282636,0.857332,1.1716,0.200000,0.300000,1.8930
20220627,1.194846,0.789517,1.1261,0.200000,0.133333,1.8940

## 3.按照观测窗口构造投资策略

In [14]:
def cal_return(df, MA):
    df[f'img_neg_m{MA}'] = (df['img_neg'].rolling(MA).mean())

    # 历史均值
    df['is_ma_img'] = (df['img_neg'] >= df[f'img_neg_m{MA}'])
    df['is_ma_img'] = df['is_ma_img'].shift(1)

    # 高于均值投资
    df['img_return'] = np.where(df['is_ma_img'], -1*(df['is_ma_img']*df['HIGH']), df['index_return'])

    # 换算
    df.dropna(axis=0, inplace=True)

    df['mv_csi300'] = (df['index_return'] + 100)/100
    df['mv_img'] = (df['img_return'] + 100)/100

    df['mv_csi300'] = df['mv_csi300'].cumprod(axis=0)
    df['mv_img'] = df['mv_img'].cumprod(axis=0)

    return df.rename(columns={'mv_img': f'mv_img_{MA}'})


df_in = df_new
for i in [5]:
    df_in = cal_return(df_in, i)
df_in = df_in[[i for i in df_in.columns if 'mv_' in i]]
df_in

            mv_csi300  mv_img_5
trade_date
20140411     0.998639  0.998639
20140414     0.997736  0.991238
20140415     0.980518  1.001187
20140416     0.981866  1.002562
20140417     0.978469  1.001892
...               ...       ...
20220621     1.927612   1.76962
20220622     1.903127  1.786413
20220623     1.935772  1.817056
20220624     1.958451  1.793749
20220627     1.980505  1.813949

[1998 rows x 2 columns]

In [13]:
df_in.to_csv('../DataSets/invest.csv')