# 数据处理专用
整合数据

In [1]:
import cudf
import sys
import pandas as pd

# 自行编写的包
sys.path.append('/home/ubuntu/notebooks/pycharm_projects/Investor-Sentiment')
sys.path.append('/usr/local/stata17/utilities')

In [13]:
from loader.findata_loader import TuShare

tu = TuShare()
df_shibor = pd.concat(
        [tu.PRO_API.shibor(start_date='20140101', end_date='20220101'), tu.PRO_API.shibor(start_date='20220102', end_date='20221231')])
df_shibor = df_shibor.rename(columns={'date': 'trade_date'}).set_index('trade_date').sort_index().reset_index()
df_shibor.to_parquet('/home/ubuntu/notebooks/DataSets/MACRO_DATA/SHIBOR_TS_2014_2022.parquet')
df_shibor

     trade_date     on     1w     2w     1m      3m      6m      9m      1y
0      20140102  3.131  4.981  5.759  5.910  5.5657  4.9306  4.9501  4.9677
1      20140103  3.006  4.711  5.524  6.201  5.5661  4.9389  4.9582  4.9757
2      20140106  2.920  4.633  5.433  6.475  5.5732  4.9476  4.9660  4.9824
3      20140107  2.875  4.259  5.074  5.925  5.5760  4.9547  4.9713  4.9869
4      20140108  2.830  4.126  4.927  5.650  5.5821  4.9585  4.9742  4.9904
...         ...    ...    ...    ...    ...     ...     ...     ...     ...
2220   20221226  0.820  1.961  3.039  2.306  2.4050  2.4940  2.5500  2.6230
2221   20221227  0.632  2.004  3.084  2.321  2.4110  2.4980  2.5540  2.6200
2222   20221228  0.522  2.019  3.190  2.332  2.4160  2.5040  2.5580  2.6200
2223   20221229  0.441  2.261  3.165  2.340  2.4180  2.5050  2.5610  2.6190
2224   20221230  1.957  2.223  3.145  2.346  2.4220  2.5080  2.5650  2.6190

[2225 rows x 9 columns]

## 分析师情绪

In [7]:
df_wc = cudf.read_parquet('/home/ubuntu/notebooks/DataSets/investor_sentiment/WC_SNET_NEG.parquet').rename(
        columns={'img_neg_index': 'img_neg', 'tex_neg_index': 'tex_neg'})
df_wc.to_parquet('/home/ubuntu/notebooks/DataSets/WC_SENT/WC_SENT_2014_2021.parquet')
df_wc

      trade_date   img_neg   tex_neg
0       20140102  0.000000  0.000000
1       20140103  0.000000  0.333333
2       20140106  0.285714  0.142857
3       20140107  0.000000  0.333333
4       20140108  0.333333  0.000000
...          ...       ...       ...
2059    20220621  0.238095  0.285714
2060    20220622  0.227273  0.227273
2061    20220623  0.363636  0.363636
2062    20220624  0.200000  0.300000
2063    20220627  0.200000  0.133333

[2064 rows x 3 columns]